@mixin poscenter {
    margin: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
.emu-controls{
    position: absolute;
    z-index: 2;
    @media screen and (orientation: portrait) and (max-width: 666px) {
        bottom:calc((var(--height) - 300px - min(var(--height),calc(var(--width) * var(--aspect-hw)))) /2  );
        width: 100%;
        height: 300px;
    }        
    @media screen and (orientation: landscape) and (min-width: 667px) {
        @include poscenter();
        .emu-dpad,.emu-xyab,.emu-joystick{
            top: 0;
            bottom: 0;
            margin: auto;
        }
        button{
            background-color: #0000003b;
        }
    }

}
.emu-dpad{        
    display: flex;
    width: 180px;
    height: 180px;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: absolute;
    left: 5px;
    top:60px;
}
.emu-dp-btn{           
    position: relative; 
    background: transparent;
    outline: none;
    border: 1px solid #ffffffa8;
    border-radius: 5px;
    padding: 0px;
    overflow: hidden;
    &[data-key]::before{
        content: "";
        @include poscenter();
        background-color: #ffffffa8;
        clip-path: path('M 5 0 \ L0 10 \L 10 10 Z');
        width: 10px;
        height: 10px;
        position: absolute;
    }
    &.active::before{
        background-color: #ffd001;
    }
    &:not([data-key*=',']){
        width:calc(100% / 3);
        height:calc(100% / 3);
    }
    &[data-key*=',']{
        width:calc(100% / 3 - 20%);
        height:calc(100% / 3 - 20%);
        margin:10%;
        border-color: transparent;
    }
    &[data-key='left,up']{
        order: 1;
        &::before{
            transform: rotate(-45deg);
        }
    }
    &[data-key='up']{
        order: 2;
    }
    &[data-key='right,up']{
        order: 3;
        &::before{
            transform: rotate(45deg);
        }
    }
    &[data-key=left]{
        order: 4;
        &::before{
            transform: rotate(-90deg);
        }
    }
    &:not([data-key]){
        order: 5;
        border-color: transparent;
    }
    &[data-key=right]{
        order: 6;
        &::before{
            transform: rotate(90deg);
        }
    }
    &[data-key='left,down']{
        order: 7;
        &::before{
            transform: rotate(-135deg);
        }
    }
    
    &[data-key=down]{
        order: 8;
        &::before{
            transform: rotate(-180deg);
        }
    }
    
    &[data-key='right,down']{
        order: 9;
        &::before{
            transform: rotate(135deg);
        }
    }
}
.emu-xyab{
    display: flex;
    width: 150px;
    height: 150px;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: absolute;
    right: 5px;
    top:60px;
}
.emu-ab-btn{           
    position: relative; 
    background: transparent;
    outline: none;
    border: 1px solid #ffffffa8;
    border-radius: 50%;
    padding: 0px;
    overflow: hidden;
    width:25%;
    height:25%;
    margin-top: calc(25% / 6);
    margin-bottom: calc(25% / 6);
    color: #fff;
    font-size: 24px;
    &.active{
        color: #ffd001;
    }
    &:first-child[data-key=a]{
        order: 1;
        width:calc(100% / 3);
        height:calc(100% / 3);
        margin-top: calc(100% / 9);
        margin-left: calc(100% / 1.6);
        margin-right: unset;
        + .emu-ab-btn{
            order: 2;
            width:calc(100% / 3);
            height:calc(100% / 3);
            margin-left: calc(100% / 5);
        }
    }
    &[data-key=y]{
        order: 1;
        margin-left: calc(100% / 3 + 25% / 6);
        margin-right: calc(100% / 3 + 25% / 6);
    }
    &[data-key=x]{
        order: 2;
        margin-left: calc(25% / 6);
        margin-right: calc(100% / 3 + 25% / 6);
        &:not([hidden]){
            ~ .emu-ab-btn[data-key=a]{
                order: 4;
                margin-top: calc(25% / 6);
                margin-left: calc(100% / 3 + 25% / 6);
                margin-right: calc(100% / 3 + 25% / 6);
            }
            ~ .emu-ab-btn[data-key=b]{
                order: 3;
                margin-left: calc(25% / 6);
                margin-right: calc(25% / 6);
            }
        }
    }
}
.emu-lr-btn{
    background: transparent;
    outline: none;
    border: 1px solid #ffffffa8;
    border-radius: 5px;
    padding: 0px;
    overflow: hidden;
    width: 50px;
    color: #fff;
    font-size: 1rem;
    padding: 2px;
    text-align: center;
    top: 5px;
    position: absolute;
    &.active{
        color: #ffd001;
    }
    &[data-key=l]{
        left: 5px;
    }
    &[data-key=r]{
        right: 5px;
    }

}
.emu-ss-btn{
    background: transparent;
    outline: none;
    border: 1px solid #ffffffa8;
    border-radius: 5px;
    padding: 0px;
    overflow: hidden;
    width: 70px;
    color: #fff;
    font-size: 0.625rem;
    padding: 2px 5px;
    text-align: center;
    top: 5px;
    position: absolute;
    top:260px;
    &.active{
        color: #ffd001;
    }
    &[data-key=select],&[data-key=l2]{
        right: calc(50% + 10px);
    }
    &[data-key=start]{
        left:calc(50% + 10px);
    }
    @media screen and (orientation: landscape) and (min-width: 667px) {
            top: unset;
            bottom: 20px;
            &[data-key=select],&[data-key=l2]{
                right:unset;
                left: 40px;
            }
            &[data-key=start]{
                left:unset;
                right: 40px;
            }
    }

}